{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "printWidth": 100,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@drag/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
